# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
.terraform.tfstate.lock.info

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
env/

# Docker
docker-compose.d/

# Jenkins
jenkins_home/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
